@import "./_variables";
footer{
    padding: 40px 95px 20px 95px;
    background-color: $primary-color;
    text-align: center;
    position: relative;
    margin-top: 10%;
    clear: both;
    width: 100%;
    p{
        margin-top: 15px;
        color: white;
        font-size: 20px;
    }
    
    .fas, .fab, .far{
        font-size: 2.3em;
        padding: 0 12px 5px 12px;
        color: $background-color;
    }
    .mail-col{
        display: block;
        word-wrap: break-word;
    }
    .fa-envelope:hover{
        transition: 0.4s;
        font-size: 3em;
    }
    .fa-phone:hover{
        transition: 0.4s;
        font-size: 3em;
    }
    .fa-file-pdf:hover{
        transition: 0.4s;
        font-size: 3em;
    }
    .fa-linkedin:hover{
        transition: 0.4s;
        font-size: 3em;
    }
    .fa-github-square:hover{
        transition: 0.4s;
        font-size: 3em;
    }
    footer .fab{
        color: #d1d8e0;
        font-size: 2.7em;
    }
}
