@import './_variables';

#navbar{
    nav{
        background-color: $navbar-background-color;
    }
    #color-btn{
        color: $primary-color;
        &:hover{
            font-size: 26px;
        }
    }
    a{
        color: $primary-color;
        &:hover{
            border-bottom: 3px solid $primary-color;
        }
    }
}