#skills {
  padding-top: 5%;
}

#skills #skills-content {
  padding-top: 3%;
  padding: 0 15%;
  text-align: center;
}

#skills #hard-skills {
  padding-top: 25px;
}

#skills #soft-skills {
  padding-top: 5%;
}

#skills #soft-skills .fas {
  font-size: 1.5em;
}

.devicon {
  font-size: 2.6em;
}
