
@import "./_navbar";
@import "./_landingPage";
@import "./_about";
@import "./_skills";
@import "./_projects";
@import "./_contact";

html, body{
    height: 100%;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    background-color: $background-color;
    cursor: default;
}

.center{ // center in middle of page
    display: flex;
    justify-content: center;
    align-content: center;
}
.h-center{ // horizontal center
    display: flex;
    justify-content: center;
}
.v-center{ // vertical center
    display: flex;
    align-content: center;
}
.underline{
    border-bottom: 3px solid $primary-color;
}

#main-content{
    height: 100vh;
}
#about{
    min-height: 100vh;
}
#skills{
    min-height: 100vh;
}
#projects{
    min-height: 100vh;
}
#contact{
    min-height: 100vh;
}

hr{
    border: 0.5px solid $primary-color;
    width: 60%;
    margin-top: 5%;
}
h1{
    font-family: 'Reem Kufi', sans-serif;
}
h1, h3, h4{
    color: $primary-color;
}
p, ul{
    color: $secondary-color;
}