@import url(c:\Users\Calvin\Desktop\Portfolio\PersonalWebsite\styles\_variables.css);
#navbar nav {
  background-color: rgba(255, 255, 255, 0.6);
}

#navbar #color-btn {
  color: #485564;
}

#navbar a {
  color: #485564;
}

#navbar a:hover {
  border-bottom: 3px solid #485564;
}

#landing-page {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  color: #485564;
}

#landing-page h1 {
  font-size: 50px;
}

#landing-page #my-name {
  border-bottom: 3px solid #485564;
  display: inline-block;
  line-height: 60px;
}

#my-icons {
  font-size: 2.5em;
  padding-top: 12px;
}

#my-icons .fas, #my-icons .fab, #my-icons .far {
  padding: 0px 12px;
  color: #485564;
}

#my-icons .fa-file-pdf:hover {
  -webkit-animation: bounce 0.7s linear;
          animation: bounce 0.7s linear;
}

#my-icons .fa-envelope:hover {
  -webkit-animation: bounce 0.7s linear;
          animation: bounce 0.7s linear;
}

#my-icons .fa-linkedin:hover {
  -webkit-animation: bounce 0.7s linear;
          animation: bounce 0.7s linear;
}

#my-icons .fa-github:hover {
  -webkit-animation: bounce 0.7s linear;
          animation: bounce 0.7s linear;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
  }
  25% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  50% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  75% {
    -webkit-transform: translateY(-8%);
            transform: translateY(-8%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
  }
  25% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  50% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  75% {
    -webkit-transform: translateY(-8%);
            transform: translateY(-8%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

#about {
  padding-top: 5%;
}

#about p {
  padding-right: 20%;
}

#about #about-content {
  padding-top: 2%;
  padding-left: 15%;
}

#about #about-content li {
  font-size: 22px;
}

#skills {
  padding-top: 5%;
}

#skills #skills-content {
  padding-top: 3%;
  padding: 0 15%;
  text-align: center;
}

#skills #hard-skills {
  padding-top: 25px;
}

#skills #hard-skills h5 {
  padding-top: 5px;
}

#skills #soft-skills {
  padding-top: 5%;
  color: black;
}

#skills #soft-skills .fas {
  font-size: 2.5em;
  margin-bottom: 12px;
}

#skills #soft-skills .fas:hover {
  font-size: 2.7em;
}

.devicon {
  font-size: 3.5em;
}

.devicon:hover {
  font-size: 3.7em;
}

#experience {
  width: 100%;
  padding-top: 5%;
}

#experience .card {
  color: #485564;
  width: 60%;
  background-color: transparent;
  -webkit-box-shadow: 0.5px 0.5px 5px;
          box-shadow: 0.5px 0.5px 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 10px 0 15px 0;
}

#experience .card:hover {
  -webkit-box-shadow: 0.5px 0.5px 15px;
          box-shadow: 0.5px 0.5px 15px;
}

#experience .card .card-text {
  padding-left: 8px;
}

#experience #project-spacer {
  padding-bottom: 15%;
}

#experience .work-date {
  float: right;
  font-size: 22px;
  padding-top: 4px;
}

@media only screen and (max-width: 1100px) {
  #experience .work-date {
    display: block;
    padding-top: 15px;
    float: none;
  }
  #experience ul {
    font-size: 16px;
  }
  #experience .card {
    width: 85%;
  }
}

#projects {
  width: 100%;
  padding-top: 5%;
}

#projects .card {
  color: #485564;
  width: 90%;
  background-color: transparent;
  -webkit-box-shadow: 0.5px 0.5px 5px;
          box-shadow: 0.5px 0.5px 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 10px 0 15px 0;
}

#projects .card:hover {
  -webkit-box-shadow: 0.5px 0.5px 15px;
          box-shadow: 0.5px 0.5px 15px;
}

#projects .card img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
  width: 500px;
}

#projects .card .card-text {
  padding-left: 8px;
}

#projects .card .btn {
  background-color: #485564;
  color: white;
  -webkit-box-shadow: 0.5px 0.5px 10px;
          box-shadow: 0.5px 0.5px 10px;
  margin-left: 8px;
  margin-top: 15px;
}

#projects .card .btn:hover {
  background-color: white;
  color: #485564;
  border: 1px solid #485564;
}

#projects .project-skills {
  display: inline-block;
  margin: 8px;
  padding: 5px 10px;
  border: 2px solid #485564;
  border-radius: 8px;
  cursor: default;
}

#projects .project-skills:hover {
  background-color: #485564;
  color: white;
}

#projects .alert-text {
  color: #485564;
  padding-top: 20px;
  padding-left: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: none;
}

#projects #project-spacer {
  padding-bottom: 15%;
}

@media only screen and (max-width: 2000px) {
  #projects .img-fluid {
    height: 325px !important;
    width: 80% !important;
  }
}

@media only screen and (max-width: 1400px) {
  #projects .img-fluid {
    height: 275px !important;
    width: 100% !important;
  }
}

@media only screen and (max-width: 994px) {
  #projects h4 {
    padding-top: 15px;
  }
  #projects .img-fluid {
    height: 300px !important;
    width: 70% !important;
  }
  #projects .card {
    width: 85%;
  }
}

@media only screen and (max-width: 775px) {
  #projects .img-fluid {
    height: 250px !important;
    width: 100% !important;
  }
}

#contact {
  color: white !important;
  padding-top: 5%;
}

#contact #contact-question {
  text-align: center;
}

#contact .contact-form {
  text-align: center;
}

#contact .contact-form form {
  width: 50%;
  display: inline-block;
}

#contact .contact-form .form-control {
  color: #485564;
}

#contact .contact-form .form-control:hover {
  background-color: transparent;
  -webkit-box-shadow: 0.5px 0.5px 15px;
          box-shadow: 0.5px 0.5px 15px;
}

#contact .contact-form .submit {
  background-color: transparent;
  color: #485564;
  border: 1px solid #485564;
  padding: 8px 25px;
}

#contact .contact-form .submit:hover {
  cursor: pointer;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  font-size: 22px;
}

#contact .alert {
  display: none;
  color: black;
}

#contact .fa-check {
  color: #5cf55c;
}

@media only screen and (max-width: 775px) {
  #contact #contact-form {
    width: 90%;
  }
}

footer {
  padding: 40px 95px 20px 95px;
  background-color: #485564;
  text-align: center;
  position: relative;
  margin-top: 10%;
  clear: both;
  width: 100%;
}

footer p {
  margin-top: 15px;
  color: white;
  font-size: 20px;
}

footer .fas, footer .fab, footer .far {
  font-size: 2.3em;
  padding: 0 12px 5px 12px;
  color: white;
}

footer .mail-col {
  display: block;
  word-wrap: break-word;
}

footer .fa-envelope:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 3em;
}

footer .fa-phone:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 3em;
}

footer .fa-file-pdf:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 3em;
}

footer .fa-linkedin:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 3em;
}

footer .fa-github-square:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 3em;
}

footer footer .fab {
  color: #d1d8e0;
  font-size: 2.7em;
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  cursor: default;
  overflow-x: hidden;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.h-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.v-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.underline {
  border-bottom: 3px solid #485564;
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  height: 550vh;
  width: 100%;
}

#main-content {
  height: 100vh;
  z-index: 1;
}

#landing-page {
  min-height: 100vh;
}

#about {
  min-height: 100vh;
}

#skills {
  min-height: 100vh;
}

#experience {
  min-height: 100vh;
}

#projects {
  min-height: 100vh;
}

#contact {
  min-height: 50vh;
}

hr {
  border: 0.5px solid #485564;
  width: 60%;
  margin-top: 5%;
}

h1 {
  font-family: 'Reem Kufi', sans-serif;
}

h1, h3, h4 {
  color: #485564;
}

p, ul {
  color: black;
}
/*# sourceMappingURL=style.css.map */